wintermute.dsp.sun.ac.za    7777
saiph.dsp.sun.ac.za         7777
dobermann.dsp.sun.ac.za     7777
baldrick.dsp.sun.ac.za      7777

espresso.ee.sun.ac.za       7777
rigel.ee.sun.ac.za          7777
mintaka.ee.sun.ac.za        7777

kenny.dsp.sun.ac.za         7777
cartman.dsp.sun.ac.za       7777
tweek.dsp.sun.ac.za         7777
chef.dsp.sun.ac.za          7777

